[Unit]
Description=Butterfly server daemon
After=network.target

[Service]
ExecStart=/usr/bin/butterfly-server -c /etc/butterfly/butterfly-server.ini
ExecStop=/bin/kill -2 $MAINPID
KillMode=process
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
